# Xcode
xcuserdata/
DerivedData/
*.xcscmblueprint
*.xccheckout

# Build
.build/
build/

# CocoaPods
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# macOS
.DS_Store
*.swp
*~

# itfr0mb1t agent
.itfr0mb1t/
